.container {
  display: flex;
  justify-content: center;
}

.card {
  width: 75%;
  margin: auto;
  padding: 20px;
}

.product-widget-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-widget {
  width: 221px;
  margin-bottom: 20px;
}

